.home {
	background: {
		image: url('../img/main--bg.png');
		position: 0 0;
		size: cover;
	}
	width: 100vw;
	height: 100vh;

	&-main {
		@include container;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;

		&-title {
			position: relative;
			padding: 13rem 0;
			font-size: 5.5rem;
			line-height: 1;
			text-transform: uppercase;
			color: $color-grey-dark;
			writing-mode: vertical-rl;
			transform: rotate(180deg);

			&::before {
				content: '\25B2\25B2\25B2';
				position: absolute;
				bottom: 1.5rem;
				right: 3rem;
				font-size: 5rem;
				letter-spacing: -15px;
			}
		}

		&-dots {
			position: absolute;
			left: -0.5rem;
			top: -1rem;
			letter-spacing: -15px;
			font-size: 4rem;

			&--orange {
				color: $color-secondary;
			}
		}

		&-text {
			position: relative;

			text: {
				align: right;
				transform: lowercase;
			}
			padding-right: 1rem;
			font-size: 3rem;
			line-height: 1;

			&::before {
				content: '';
				position: absolute;
				top: 4.3rem;
				left: calc(7rem - 270px);
				width: 270px;
				height: 10px;
				background-color: $color-black;
			}
		}
	}
}
